@font-face {
    font-family: HarryPotter;
    src: url('../fonts/HARRYP__.TTF');
}

body {
    background: #404041;
    width: 770px;
    font-family: georgia, "times new roman",times,sans-serif;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-bottom: -30px;
}

.header h1 {
    font-family: HarryPotter;
    font-size: 80px;
    text-align: center;

}

.separator {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid white;
}

.description {
    font-size: 15px;
    margin-left: 100px;
    margin-right: 100px;
}

.description a {
    color: #F6EB13;
}

.description a:hover {
    color: #00F677;
}

.description span.i {
    font-style:italic;
}

.description span.by {
    font-weight:bold;
    color: #F6EB13;
}

.description span.bg {
    font-weight:bold;
    color: #00F677;
}

#diameter {
    text-decoration: underline;
    cursor: pointer;
}
