.network .ally-link {
    stroke: #F6EB13;
    stroke-width: 2;
}

.network .enemy-link {
    stroke: #50BD91;
    stroke-width: 2;
}

.network .node {
    fill: #000;
    stroke: #fff;
    stroke-width: 2;
}

.bio-tip {
    line-height: 1;
    font-weight: bold;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    height: 90px;
    width: 200px;
    pointer-events: none;
}

.bio-tip h1 {
    margin-top: 2px;
    font-size: 15px;
    color: #fff;
    text-decoration:underline;
}

.bio-tip p {
    font-size: 10px;
    color: #fff;
    width: 100%;
}

/*
Commented code that works for adding a trianle
.bio-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 20px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25C0";
    position: absolute;
    pointer-events: none;
    text-align: center;
}

.bio-tip.e:after {
    top: 50%;
    margin: -10px;
    left: -98px;
}
*/
